extends ../parts/base.jade

block vars
	- var home = true

block content
	//begin Features
	article
		.container
			.row
				.col-md-12
					h1.text-center Nombre de la Empresa

			form.form-horizontal(role="form")
				.row
					.col-md-6
						.form-group
							label.col-sm-3.control-label(for="cod-cliente") Cod. Cliente
							.col-sm-2
								input.form-control#cod-cliente(placeholder="Cod. Cliente")
							.col-sm-7
								p.form-control-static Cliente Nombre
			
						.form-group
							.col-sm-5
							.col-sm-7
								p.form-control-static Cliente Domicilio

					.col-md-6
						.form-group
							label.col-sm-3.control-label(for="total") Total
							.col-sm-9
								p#total.form-control-static $ 655.33
						.form-group
							label.col-sm-3.control-label(for="cant-art") Cant. Artículos
							.col-sm-9
								p#cant-art.form-control-static 7

		
			.row
				.col-md-12
					table.table.table-hover
						thead
							tr
								th Cod.
								th Cantidad
								th Denominación
								th Precio
								th Importe
								th Acc

						tbody
							tr
								td: p.form-control-static 669
								td: p.form-control-static 6
								td: p.form-control-static Denominación
								td: p.form-control-static $ 10.99
								td: p.form-control-static $ 109.90
								td: a.btn.btn-danger(href="#"): i.fa.fa-trash
							
							tr
								td: input.form-control(placeholder="Cod. Art.")
								td: input.form-control(placeholder="Cantidad")
								td: p.form-control-static Denominación
								td: p.form-control-static $ 10.99
								td: p.form-control-static $ 109.90
								td: a.btn.btn-warning(href="#"): i.fa.fa-times
