extends ../parts/base.jade

block vars
	- var home = true

block content
	//begin Features
	article
		.container
			.row
				.col-md-12
					h1.text-center#empresa_nombre 

			.row
				.col-xs-6
					.panel.panel-primary.recibo-head
						.panel-heading Cliente
						.panel-body
							.row.search-cliente
								.col-md-3
									input.form-control#cod-cliente(placeholder="Cod. Cliente" autofocus tabindex="1")
								.col-md-9
									a.btn.btn-success#search-clientes(href="#"): span.fa.fa-search
							.row
								.col-sm-12
									h3#datos-cliente
										| Cliente
										br
										small Dirección

				.col-xs-6
					.panel.panel-primary.recibo-head
						.panel-heading Recibo
						.panel-body
							dl.dl-horizontal.total
								dt Total
								dd.text-danger#total $ 0,00
							
							dl.dl-horizontal
								dt Cantidad de Artículos
								dd#contar 0
							
							dl.dl-horizontal.listas
								dt Precios 
								dd
									.btn-group.cambiar-listas(data-toggle="buttons")
										label.btn.btn-primary.active
											input#lista1(type="radio" name="options" autocomplete="off" checked)
											| Lista 1
										
										label.btn.btn-primary
											input#lista2(type="radio" name="options" autocomplete="off")
											| Lista 2
										
										label.btn.btn-primary
											input#lista3(type="radio" name="options" autocomplete="off")
											| Lista 3

							dl.dl-horizontal.acciones
								dt 
								dd
									a.btn.btn-success#imprimir(href="#")	Imprimir (F7)
									a.btn.btn-danger#anular(href="#")	Anular (F6)

		
			.row
				.col-md-12
					.panel.panel-primary
						.panel-heading Artículos
						.panel-body
							table.table.table-hover.articulos
								thead
									tr
										th.wSmall Cod.
										th.wSmall.text-center Cantidad
										th.wAuto Denominación
										th.wSmall.text-right Precio
										th.wSmall.text-right Importe
										th.wSmall.acc

								tbody

								tfoot
									tr
										td: input#articulo-codigo.form-control(type="number" placeholder="Cod. Art." tabindex="2")
										td.cantidad: input#articulo-cantidad.form-control(type="number" placeholder="Cantidad" tabindex="3")
										td#articulo-denominacion 
										td#articulo-precio.text-right.precio $ 0,00
										td#articulo-importe.text-right.importe $ 0,00
										td.text-right: a.btn.btn-warning#clear-form(href="#"): i.fa.fa-times





	// Modal
	.modal.fade#modal-clientes(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button" data-dismiss="modal")
						span(aria-hidden="true") &times;
						span.sr-only Close

					h4.modal-title Lista de Clientes

				.modal-body
					table.table.table-hover
						thead
							tr
								th Cod.
								th Nombre
								th Apellido

						tbody
				
				.modal-footer
					button.btn.btn-default(type="button" data-dismiss="modal") Close
