extends ../parts/base.jade

block vars
	- var home = true

block content
	//begin Features
	article
		.container
			.row
				.col-md-12
					h1.text-center Nombre de la Empresa

			.row
				.col-md-6
					.panel.panel-primary.recibo-head
						.panel-heading Cliente
						.panel-body
							.row
								.col-md-3
									input.form-control#cod-cliente(placeholder="Cod. Cliente")
								.col-md-9
									a.btn.btn-success#search-clientes(href="#"): span.fa.fa-search
							.row
								.col-sm-12
									h3#datos-cliente
										| Cliente
										br
										small Dirección

				.col-md-6
					.panel.panel-primary.recibo-head
						.panel-heading Recibo
						.panel-body
							dl.dl-horizontal
								dt Total
								dd $ 655.33
							
							dl.dl-horizontal
								dt Cantidad de Artículos
								dd 7

							dl.dl-horizontal
								dt 
								dd
									a.btn.btn-success(href="#")	Imprimir (F7)
									a.btn.btn-danger(href="#")	Anular (F6)

		
			.row
				.col-md-12
					.panel.panel-primary
						.panel-heading Artículos
						.panel-body
							table.table.table-hover
								thead
									tr
										th.wSmall Cod.
										th.wSmall.text-center Cantidad
										th.wAuto Denominación
										th.wSmall.text-right Precio
										th.wSmall.text-right Importe
										th.wSmall

								tbody
									tr
										td 669
										td.text-center 6
										td Denominación
										td.text-right $ 10.99
										td.text-right $ 109.90
										td.text-right: a.btn.btn-danger(href="#"): i.fa.fa-trash

									tr
										td: input.form-control(placeholder="Cod. Art.")
										td: input.form-control(placeholder="Cantidad")
										td Denominación
										td.text-right $ 10.99
										td.text-right $ 109.90
										td.text-right: a.btn.btn-warning(href="#"): i.fa.fa-times





	// Modal
	.modal.fade#modal-clientes(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button" data-dismiss="modal")
						span(aria-hidden="true") &times;
						span.sr-only Close

					h4.modal-title Lista de Clientes

				.modal-body
					table.table.table-hover
						thead
							tr
								th Cod.
								th Nombre
								th Apellido

						tbody
				
				.modal-footer
					button.btn.btn-default(type="button" data-dismiss="modal") Close
