//- Defaults Vars
- var titlePage    = "Facturador"
- var pageDescription = 'Facturador de Productos'


//- Page Vars (Override previous)
block vars

//-  Init Document
doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		//[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]
		title= titlePage
		meta(name="description" content="#{pageDescription}")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

		//********************  CSS  ********************
		//Bootstrap v3.3.1
		link(rel="stylesheet" href="css/vendor/bootstrap.min.css")

		//Font: Open Sans
		link(rel="stylesheet" href="css/vendor/opensans-font.css")

		//Font icons: Font Awesome 4.2
		link(rel="stylesheet" href="css/vendor/font-awesome.min.css")
	
		//Custom CSS
		link(rel="stylesheet" href="css/styles.css")


	body
		//begin Content
		section
			block content
		//end Content

		
		//begin Footer
		footer
			p Developed by: 
		//end Footer

		
		//********************************************************************
		//************************* Javascript Files *************************
		//jQuery v1.11.1
		script(src="js/vendor/jquery.min.js")
		
		//Bootstrap v3.3.1
		script(src="js/vendor/bootstrap.min.js")

		//Custom Script
		script(src="js/main.js")