/**
 *
 *
 *
 *
/***************************************************************************/
/******************************  $Impresion  *******************************/

@media print 
	body
		font-size 10px
	
	footer
	nav
	.acc
	.acciones
	.articulos tfoot
	.listas
	.search-cliente
		display none

	article .container
		padding 1cm

	dd
		width auto
		float left
	
	dl
		clear both
	
	dt
		width 100px
		float left

	h1
		font-size 20px

	h3
		font-size 16px

	.panel-heading
		padding 5px 10px
	
	.panel-body
		padding 5px

	.recibo-head
		height 150px

	.table tbody tr td
		line-height 14px
